#box0{

      width:150px;
      height:150px;
      position:absolute;
}
#box1{

      width:150px;
      height:25px;
      position:absolute;
}
#box2{

      width:150px;
      height:25px;
      position:absolute;
}
#box3{

      width:150px;
      height:25px;
      position:absolute;
}
